<!DOCTYPE html>
<html>
<head lang="en">
    <title>Spring Boot Demo - FreeMarker</title>
</head>
<body>
    <script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(function(){
            $('#title').click(function(){
                alert('点击了');
            });

            $.ajax({
                    url:"http://localhost:30083/sso/logincheck?tokenSessionId=123",
                    success: function(result){
                        alert(JSON.stringify(result));
                    }
            });
        })
    </script>
    <h1 id="title">a1</h1>
</body>
</html>